body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    border-bottom: 3px solid #444;
    /* bottom border */

}

main {
    display: flex;
    padding: 20px;
}

.tasks {
    width: 30%;
}

.tasks ul {
    list-style: none;
    padding: 0;
}

.tasks li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.tasks li:hover {
    background-color: #ddd;
}

.content {
    width: 70%;
    padding-left: 20px;
}